/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

html {
  scroll-padding-top: 60px;    
}
body {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;    
}

[data-bs-theme=dark] a {
  color: #e07012;
}
[data-bs-theme=light] a
{
  color: #c66a1b;
}
a.bg-rppa
{
  color: #fff;
}
[data-bs-theme="dark"] .highlight-bb {
  background: #333 !important;
}
[data-bs-theme=dark] .nav.nav-pills {
  background: #555;
}
[data-bs-theme=light] .nav.nav-pills {
  background: #eee;
}
a {
  color:#e07012;
}
a:hover, 
a:active, 
a:visited {
  color:  #cd6711;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #e07012;
}
main > .container-fluid {
  padding: 60px 15px 0px;
  max-width: none;
  padding-bottom: 55px;
}
header > nav {
  height: 55px;
}

.navbar > .container-fluid {
  position: absolute;
}
.navbar-brand {
  margin: 0 30px 0 0;
  font-size:1.4rem;
  line-height:32px;
}
.navbar-brand > img {
  display: inline-block;
  margin-right: 15px;
  height: 54px;
  width: auto;
}
.navbar-brand sup, 
.leaflet-sidebar-header sup {
  font-variant: small-caps;
  font-size: .75rem;
  padding: 0 5px;
  top: -.6rem;
}
a.navbar-brand:hover, 
a.navbar-brand:active, 
a.navbar-brand:visited,
a.nav-link:hover, 
a.nav-link:active, 
a.nav-link:visited {
  color: #fff;
}
.leaflet-sidebar-tabs > li:hover, 
.leaflet-sidebar-tabs > ul > li:hover {
  background-color: unset;
}
.nav-link {
  padding-right:1rem !important;
  padding-left:1rem !important;
}
.navbar-brand {
  color: var(--bs-navbar-brand-color) !important;
}
.nav-link {
  color: var(--bs-navbar-hover-color) !important;
}
.nav-link:hover {
  color: var(--bs-navbar-hover-color) !important;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: var(--bs-navbar-active-color) !important;
}
.nav-link.disabled, .nav-link:disabled {
  color: var(--bs-nav-link-disabled-color) !important;
}
.navbar {
  --bs-navbar-brand-font-size: 1.5rem;
  --bs-navbar-brand-padding-y: 0rem;
}
.navbar .collapse {
  font-size:1.1rem;
}

footer {
  position: fixed;
  z-index: 1010;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ccc;
}
footer > .container {
  max-width: none;
}
nav.navbar {
  border-bottom: 1px solid #ccc;
}
#bd-theme + * svg,
#bd-theme svg
{
    height:16px;
    width:16px;
}
[data-bs-theme=dark] header > nav {
    color: var(--bs-light-text-subtle);
    background-color: #cd6711 !important;
}
[data-bs-theme=light] header > nav {
    color: var(--bs-light-text-subtle);
    background-color: #cd6711 !important;
}
[data-bs-theme=dark] footer {
    background-color: #555 !important;
}
@media (min-width: 450px) and (max-width: 1399px) {
  .mb-md-0 {
      margin-bottom: 0!important;
      flex-direction: column !important;
  }
  .navbar-collapse.collapsing,
  .navbar-collapse.show
  {
      font-size:1rem;
      z-index: 0;
      background-color: rgb(51, 51, 51);
      opacity: 0.95;
      display: block;
      top: 55px;
      position: absolute;
      width: calc(100vw - 30px);
  }
}
@media (min-width: 1400px) {
  .navbar-expand-xl .navbar-nav {
      flex-direction: row !important;
  }
  .leaflet-sidebar-pane {
      min-width: unset;
  }
}
div[data-app="share_buttons"] {
  display:inline-block;
  vertical-align:middle;
  width: 225px;
}

.map {
  width: 100vw;
  height: calc(100vh - 95px);
  background-color: #f1e4cf;
}
#map_tool main > .container-fluid {
  padding-top: 55px;
  padding-left: 0;
  padding-right: 0;
  max-width: none;
  padding-bottom: 0px;
}
#map_tool input {
    accent-color: #cd6711;
}
@media (min-width:768px) {
  .leaflet-sidebar {
   top:10px;
   bottom:10px;
   transition:width .5s;
   border:3px solid transparent;
   border-radius:4px;
   z-index: auto !important;
  }
  .leaflet-sidebar-left {
   left:10px !important;
  }
  .leaflet-sidebar-right {
   right:10px !important;
  }
}
.leaflet-sidebar.collapsed {
  width: 42px !important;
}
.leaflet-sidebar-header {
  background-color: #e07012 !important;
}
.leaflet-sidebar-tabs i {
  font-size:20px;
  margin-left:-2px
}
.leaflet-sidebar-tabs {
  background-color: #eee !important;
}
.leaflet-sidebar-tabs > li.active, 
.leaflet-sidebar-tabs > ul > li.active {
  color: #fff !important;
  background-color: #ce5f04 !important;
}
[data-bs-theme=dark] .leaflet-sidebar-tabs>li, 
[data-bs-theme=dark] .leaflet-sidebar-tabs>ul>li {
  color: #aaa;
}

[data-bs-theme=dark] .leaflet-sidebar-content {
  background-color: #222;
}
[data-bs-theme=light] .leaflet-sidebar-content {
  background-color: #fff;
}
[data-bs-theme=dark] .leaflet-sidebar-tabs {
  background-color: #444 !important;
}
[data-bs-theme=light] .leaflet-sidebar-tabs {
  background-color: #eee !important;
}

.leaflet-verticalcenter {
  /********************************************/
  /* Same as .leaflet-top and .leaflet-bottom */
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  /********************************************/
  top: 50%;
  transform: translateY(-50%);
  padding-top: 10px;
}
.leaflet-sidebar {
  z-index:1000 !important;
  max-width:40%;
}
.leaflet-sidebar-tabs i {
  font-size:20px;
  margin-left:-2px
}
.leaflet-sidebar-tabs {
  background-color: #eee !important;
}
.leaflet-sidebar-header {
  font-size:1.4rem !important;
}
.leaflet-sidebar-content h2 {
  margin-top: 8px;
  font-size: 1.3rem;
  text-indent: -20px;
  margin-left: 20px;
  line-height: inherit;
}
.leaflet-sidebar-content h3 {
  font-size: 1.15rem;
  margin-left: 5px;
}
.leaflet-container,
.popup {
  font-size:16px !important;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  background:unset;
}
#sidebar,
.popup,
.leaflet-control-container {
  font-size:15px !important;
}
.leaflet-container option {
  font-size:14px !important;
}
.leaflet-container a {
  color:#e07012;
}
.leaflet-control-container a {
  color:#000 !important;
}
.legend-dot {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  display: inline-block;  
}


.gender input[type=checkbox] + label, 
.continents input.cont[type=checkbox] + label {
  font-size: 1.2em;
  padding-right: 0.6em;
}
.gender input[type=checkbox], 
.continents input.cont[type=checkbox] { 
  display:none; 
}
.gender input[type=checkbox] + label:before, 
.continents input.cont[type=checkbox] + label:before {
  display: inline-block;
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  padding-right: .3em; 
}
.gender input[type=checkbox]:checked + label:before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
}
.continents input[type=checkbox]#AF:checked 
+ label:before {
  content: "\f57c";
  font-weight: 700;
}
.continents input[type=checkbox]#AS:checked 
+ label:before {
  content: "\f57e";
  font-weight: 700;
}
.continents input[type=checkbox]#NA:checked 
+ label:before {
  content: "\f57d";
  font-weight: 700;
}
.continents input[type=checkbox]#SA:checked 
+ label:before {
  content: "\f57d";
  font-weight: 700;
}
.continents input[type=checkbox]#EU:checked 
+ label:before {
  content: "\f7a2";
  font-weight: 700;
}
.continents input[type=checkbox]#OC:checked 
+ label:before {
  content: "\e47b";
  font-weight: 700;
}

.leaflet-popup-pane .popup .name {
  font-weight: bold;
  font-size:14px;
}
.leaflet-popup-pane .popup .loc {
  font-style: italic;
  font-size:13px;
  display: block;
}
.leaflet-popup-content-wrapper, 
.leaflet-popup-tip {
    background: #eee;
}

a:not(.img).external {
  background: url(/images/extlink.png) right center no-repeat;
  padding-right: .75em;
}

img[src='/images/male.png'], 
img[src='/images/female.png'], 
.poet-marker {
  width:35px !important;
  background-color: #fff;
}
#profile .results ul li span {
  font-variant: small-caps;
}
#profile .results ul li, 
#help .results ul li
 {
  text-indent: -15px;
  margin: 0 0 2px -10px;
  list-style-type: none;
}
.globaltext-container {
  min-height: inherit;
  min-width: inherit;
}
.globaltext {
  overflow: hidden;
  width:500px;
  height:850px;
}
.globaltext .nav-pills {
  border: 1px solid #999;
}
.globaltext .tab-content {
  border: 1px dotted #999;
}

.globaltext .attribution, 
.context .attribution {
  font-size:.85em;
  float:right;
  width: 80%;
  text-align: right;
  margin-right: 15px;
}
.globaltext .attribution div, 
.context .attribution div {
  display: inline-block;
  margin-right: 5px;
}
.globaltext .attribution div>span:nth-of-type(1), 
.context .attribution  div>span:nth-of-type(1) {
  font-style: italic;
  margin-right:3px;
}
.globaltext .attribution div .bibl, 
.context .attribution div .bibl {
  margin-left: 0;
  text-indent: 0;
}
.text .head+br {
  display: none;
}
.text .head:nth-of-type(1) {
  font-size:1.3em;
  line-height:1.3em;
}
.text > .head:first-child {
  font-size: 1.5rem;
}
.rppa .head {
  font-size:1.1em !important;
}

.modal-header .tools {
  text-align:center;
}
.modal-header .tools span {
  display: inline-block;
}
.read {
  color: #e76f51;
}
.edit {
  color: #2a9d8f;
}
.publish {
  color: #264653;
}
.nav-link.active code {
  color:unset;
}
.hidden {
  display: none;
}
.textwindow {
  overflow: initial;
  height: calc( 100vh - 84px);
  border-right: 1px #ddd dashed;
  border-left: 1px #ddd dashed;
  padding: 0px;
}
.bg-rppa,.controls .btn {
  background-color: var(--bs-orange);
  text-decoration: none;
  color:#fff;
}
a.bg-rppa:hover, 
a.bg-rppa:active {
  color:#fff;
}
a.note {
  text-decoration: none;
}

.pagebreak .image_link {
  margin-left: 5px;
}
.pagebreak,.pagebreak-supplied {
  display: flex;
  align-items: center;
  text-align: center;
  color: #998;
  font-size: 14px;
  font-style: normal;
  margin: 8px 0;
  clear: both;
  text-indent: 0;
}
.pagebreak-supplied::before, 
.pagebreak-supplied::after,
.pagebreak::before, 
.pagebreak::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #998;

}
.pagebreak::before,
.pagebreak-supplied::before {
    margin-right: 1em;
}
.pagebreak::after,
.pagebreak-supplied::after {
    margin-left: 1em;
}
.popover-dismiss-select {
  width:80px !important;
  min-width:80px !important;
}
.popover-dismiss-select .popover-body {
  padding:5px;
}

.highlight-bb {
  background-color: rgba(245,254,252,1);
/*  border-bottom: 2px solid #0C80A1;*/
  color: inherit;
}

.highlight-bb-start {
  border-left: 4px solid #0C80A1;
  padding-left:1px;
}
.highlight-bb-end {
  border-right: 4px solid #0C80A1;
  padding-right:1px;
}

.highlight-bb-m {
  background-color: unset;
  outline: 1px solid #0C80A1;
  outline-offset:-1px;
  color: inherit;
}
.pagebreak .highlight-bb,
.numbering .highlight-bb {
  background-color: unset;
  border-bottom: unset;
}
.highlight-tc {
  background-color: rgba(255,244,202,1);
  border-bottom: 2px solid rgba(255,204,122,1);
  color: inherit;
}
.pagebreak .highlight-tc,
.numbering .highlight-tc {
  background-color: unset;
  border-bottom: unset;
}

.pulse-bb {
-webkit-animation: pulse-bb 400ms infinite alternate;
        animation: pulse-bb 400ms infinite alternate;
}
.pulse-bb::after {
  content: " ";
  -webkit-animation: pulse-bb 400ms infinite alternate;
  animation: pulse-bb 400ms infinite alternate;
}
@-webkit-keyframes pulse-bb {
0% { background-color: rgba(245,254,252,1) }
100% { background-color: rgba(215,224,222,1) }
}
@keyframes pulse-bb {
0% { background-color: rgba(245,254,252,1) }
100% { background-color: rgba(215,224,222,1) }
}

.pulse-tc {
  -webkit-animation: pulse-tc 400ms infinite alternate;
          animation: pulse-tc 400ms infinite alternate;
  }
.pulse-tc::after {
  content: " ";
  -webkit-animation: pulse-tc 400ms infinite alternate;
  animation: pulse-tc 400ms infinite alternate;
}
@-webkit-keyframes pulse-tc {
0% { background-color: rgba(255,224,172,1) }
100% { background-color: rgba(255,244,222,1) }
}
@keyframes pulse-tc {
0% { background-color: rgba(255,224,172,1) }
100% { background-color: rgba(255,244,222,1) }
}

ul.bb {
  list-style: none;
  padding-left: 10px;
  font-size: 15px;
}
.bb-item .trash {
  margin: 0px 2px;
}
.bb-item label {
  display: unset;
}
.bb-item input[type=checkbox]{
  accent-color: #2a9d8f;
}
ul.bb li canvas {
  vertical-align: middle;
  max-height: 150px;
}
.workbench h2 {
  font-size:1.2em;
}
.tab-content {
  overflow: auto;
  height: calc(100% - 45px);
}
.tab-content > .active {
  height:100%;
}
.waveform {
  margin-top: 15px;
}
[data-bs-theme=dark] #wavetimeline timeline {
  background: #555;
}

.highlight-gbl-start{ 
  border-left: 2px dashed var(--bs-orange); padding-left: 5px; 
}
.highlight-gbl-end { 
  border-right: 2px dashed var(--bs-orange); padding-right: 5px; 
}

.context .card-footer { 
  text-align: right;
  font-size: 13.6px;
  font-variant: all-petite-caps;
}
.context .card-header .creator { 
  font-size: small;
}
.context .card-body {
  max-height:730px;
  overflow:auto;
}
.context.active {
  border-color: var(--bs-orange);
}

.idsSelected {
  border-bottom: 2px solid var(--bs-orange);
  background-color: rgba(255,244,202,1);
  font-weight:bold;
}
.outline-seg {
  outline: 1px solid black;
}

.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link {
    color: #fff !important;
    background-color: var(--bs-orange);
}

.globaltext .nav-link {
    color: #333;
}
.globaltext .nav-link:focus, .nav-link:hover {
    color: #000;
}

.toggle-group:hover .btn-warning,
.toggle-group .btn-warning {
  color:white !important;
  background-color:var(--bs-orange) !important;
  border-color:#666 !important;
}
.toggle-group:hover .btn-success,
.toggle-group .btn-success {
  color:white !important;
  background-color:#2a9d8f !important;
  border-color:#666 !important;
}
