
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

html {
  scroll-padding-top: 60px;    
}
body {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;    
}

body#home {
    background-image: url('/images/4613002_home.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

[data-bs-theme=dark] a {
  color: #e07012;
}
[data-bs-theme=light] a
{
  color: #c66a1b;
}
a.bg-rppa
{
  color: #fff;
}
[data-bs-theme="dark"] .highlight-bb {
  background: #333 !important;
}
[data-bs-theme=dark] .nav.nav-pills {
  background: #555;
}
[data-bs-theme=light] .nav.nav-pills {
  background: #eee;
}

[data-bs-theme=dark] .globaltext {
  background: #212529;
}
[data-bs-theme=light] .globaltext {
  background: #fff;
}

a {
  color:#e07012;
}
a:hover, 
a:active, 
a:visited {
  color:  #cd6711;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #e07012;
}
main > .container-fluid {
  padding: 60px 15px 0px;
  max-width: none;
  padding-bottom: 55px;
}
header > nav {
  height: 55px;
}

.navbar > .container-fluid {
  position: absolute;
}
.navbar-brand {
  margin: 0 30px 0 0;
  font-size:1.4rem;
  line-height:32px;
}
.navbar-brand > img {
  display: inline-block;
  margin-right: 15px;
  height: 54px;
  width: auto;
}
.navbar-brand sup, 
.leaflet-sidebar-header sup,
body#home .h2 sup,
body#about h1 sup {
  font-variant: small-caps;
  font-size: .75rem;
  padding: 0 5px;
  top: -.6rem;
}

a.navbar-brand:hover, 
a.navbar-brand:active, 
a.navbar-brand:visited,
a.nav-link:hover, 
a.nav-link:active, 
a.nav-link:visited {
  color: #fff;
}
.leaflet-sidebar-tabs > li:hover, 
.leaflet-sidebar-tabs > ul > li:hover {
  background-color: unset;
}
.nav-link {
  padding-right:1rem !important;
  padding-left:1rem !important;
}
.navbar-brand {
  color: var(--bs-navbar-brand-color) !important;
}
.nav-link {
  color: var(--bs-navbar-hover-color) !important;
}
.nav-link:hover {
  color: var(--bs-navbar-hover-color) !important;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: var(--bs-navbar-active-color) !important;
}
.nav-link.disabled, .nav-link:disabled {
  color: var(--bs-nav-link-disabled-color) !important;
}
.navbar {
  --bs-navbar-brand-font-size: 1.5rem;
  --bs-navbar-brand-padding-y: 0rem;
}
.navbar .collapse {
  font-size:1.1rem;
}

footer {
  position: fixed;
  z-index: 1010;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ccc;
}
footer > .container {
  max-width: none;
}
nav.navbar {
  border-bottom: 1px solid #ccc;
}
#bd-theme + * svg,
#bd-theme svg
{
    height:16px;
    width:16px;
}
[data-bs-theme=dark] header > nav {
    color: var(--bs-light-text-subtle);
    background-color: #cd6711 !important;
}
[data-bs-theme=light] header > nav {
    color: var(--bs-light-text-subtle);
    background-color: #cd6711 !important;
}
[data-bs-theme=dark] footer {
    background-color: #555 !important;
}
[data-bs-theme=dark] footer img[title~="Huber"] {
 filter: invert(.75);
}

.layout_wrapper {
  margin-top: calc(-1* var(--bs-gutter-y));
  margin-right: calc(-.5* var(--bs-gutter-x));
  margin-left: calc(-.5* var(--bs-gutter-x));
  height: calc(100vh - 95px);
  top: 55px;
  width: calc(100vw - 30px);
  position: absolute;
  margin: 0 0;
}
.col-graph {
  padding: 0;
}
.layout_navigation {
  padding-bottom: 50px;
}

/* Custom behavior for screens smaller than 1600px */
@media (max-width: 1599.98px) {
  .navbar-expand-xxl .navbar-collapse {
    display: none !important; /* Collapse the navbar */
  }
  .navbar-expand-xxl .navbar-toggler {
    display: block !important; /* Show the toggler */
  }
  .mb-md-0 {
    margin-bottom: 0!important;
    flex-direction: column !important;
  }
  .navbar-collapse.collapsing,
  .navbar-collapse.show
  {
      font-size:1rem;
      z-index: 0;
      background-color: rgb(51, 51, 51);
      opacity: 0.95;
      display: block !important;
      top: 55px;
      position: absolute;
      width: calc(100vw - 30px);
      margin-left: calc(100vw - 350px);
  }
}
/* Default behavior for screens 1600px and wider */
@media (min-width: 1600px) {
  .navbar-expand-xxl .navbar-collapse {
    display: flex !important; /* Keep the navbar expanded */
  }
  .navbar-expand-xxl .navbar-toggler {
    display: none !important; /* Hide the toggler */
  }
  .navbar-expand-xxl .navbar-collapse {
    flex-direction: row !important;
  }
  .leaflet-sidebar-pane {
      min-width: unset;
  }
}
@media (max-width: 1600px) {
  .navbar-expand-xxl .navbar-nav .dropdown-menu {
      position: static;
  }
}


div[data-app="share_buttons"] {
  display:inline-block;
  vertical-align:middle;
  width: 225px;
}

.map {
  width: 100vw;
  height: calc(100vh - 95px);
  background-color: #f1e4cf;
}

#world .map, #country .map, #continent .map {
  width: 100%;
  height: calc(100vh - 115px);
  background-color: unset;
}

.world #navigation ul, .country #navigation ul, .continent #navigation ul {
  columns: 3 auto;
}
.world #navigation, .country #navigation, .continent #navigation {
  max-height: calc(100vh - 115px);
  overflow: scroll;
}

#map_tool main > .container-fluid {
  padding-top: 55px;
  padding-left: 0;
  padding-right: 0;
  max-width: none;
  padding-bottom: 0px;
}
#map_tool input {
    accent-color: #cd6711;
}
@media (min-width:768px) {
  .leaflet-sidebar {
   top:10px;
   bottom:10px;
   transition:width .5s;
   border:3px solid transparent;
   border-radius:4px;
   z-index: auto !important;
  }
  .leaflet-sidebar-left {
   left:10px !important;
  }
  .leaflet-sidebar-right {
   right:10px !important;
  }
}
.leaflet-sidebar.collapsed {
  width: 42px !important;
}
.leaflet-sidebar-header {
  background-color: #e07012 !important;
}
.leaflet-sidebar-tabs i {
  font-size:20px;
  margin-left:-2px
}
.leaflet-sidebar-tabs {
  background-color: #eee !important;
}
.leaflet-sidebar-tabs > li.active, 
.leaflet-sidebar-tabs > ul > li.active {
  color: #fff !important;
  background-color: #ce5f04 !important;
}
[data-bs-theme=dark] .leaflet-sidebar-tabs>li, 
[data-bs-theme=dark] .leaflet-sidebar-tabs>ul>li {
  color: #aaa;
}

[data-bs-theme=dark] .leaflet-sidebar-content {
  background-color: #222;
}
[data-bs-theme=light] .leaflet-sidebar-content {
  background-color: #fff;
}
[data-bs-theme=dark] .leaflet-sidebar-tabs {
  background-color: #444 !important;
}
[data-bs-theme=light] .leaflet-sidebar-tabs {
  background-color: #eee !important;
}

.leaflet-verticalcenter {
  /********************************************/
  /* Same as .leaflet-top and .leaflet-bottom */
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  /********************************************/
  top: 50%;
  transform: translateY(-50%);
  padding-top: 10px;
}
.leaflet-sidebar {
  z-index:1000 !important;
  max-width:40%;
}
.leaflet-sidebar-tabs i {
  font-size:20px;
  margin-left:-2px
}
.leaflet-sidebar-tabs {
  background-color: #eee !important;
}
.leaflet-sidebar-header {
  font-size:1.4rem !important;
}
.leaflet-sidebar-content h2 {
  margin-top: 8px;
  font-size: 1.3rem;
  text-indent: -20px;
  margin-left: 20px;
  line-height: inherit;
}
.leaflet-sidebar-content h3 {
  font-size: 1.15rem;
  margin-left: 5px;
}
.leaflet-container,
.popup {
  font-size:16px !important;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  background:unset;
}
#sidebar,
.popup,
.leaflet-control-container {
  font-size:15px !important;
}
.leaflet-container option {
  font-size:14px !important;
}
.leaflet-container a {
  color:#e07012;
}
.leaflet-control-container a {
  color:#000 !important;
}
.legend-dot {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  display: inline-block;  
}


.gender input[type=checkbox] + label, 
.continents input.cont[type=checkbox] + label {
  font-size: 1.2em;
  padding-right: 0.6em;
}
.gender input[type=checkbox], 
.continents input.cont[type=checkbox] { 
  display:none; 
}
.gender input[type=checkbox] + label:before, 
.continents input.cont[type=checkbox] + label:before {
  display: inline-block;
  content: "\f111";
  font-family: "Font Awesome 6 Free";
  padding-right: .3em; 
}
.gender input[type=checkbox]:checked + label:before {
  content: "\f058";
  font-family: "Font Awesome 6 Free";
}
.continents input[type=checkbox]#AF:checked 
+ label:before {
  content: "\f57c";
  font-weight: 700;
}
.continents input[type=checkbox]#AS:checked 
+ label:before {
  content: "\f57e";
  font-weight: 700;
}
.continents input[type=checkbox]#NA:checked 
+ label:before {
  content: "\f57d";
  font-weight: 700;
}
.continents input[type=checkbox]#SA:checked 
+ label:before {
  content: "\f57d";
  font-weight: 700;
}
.continents input[type=checkbox]#EU:checked 
+ label:before {
  content: "\f7a2";
  font-weight: 700;
}
.continents input[type=checkbox]#OC:checked 
+ label:before {
  content: "\e47b";
  font-weight: 700;
}

.leaflet-popup-pane .popup .name {
  font-weight: bold;
  font-size:14px;
}
.leaflet-popup-pane .popup .loc {
  font-style: italic;
  font-size:13px;
  display: block;
}

[data-bs-theme=light] .leaflet-popup-content-wrapper, 
[data-bs-theme=light] .leaflet-popup-tip {
    background: #eee;
    color:#333;
}
[data-bs-theme=dark] .leaflet-popup-content-wrapper, 
[data-bs-theme=dark] .leaflet-popup-tip {
    background: #333;
    color:white;
}
[data-bs-theme=dark] .cytoscape-navigator,
[data-bs-theme=dark] .cy-panzoom-panner,
[data-bs-theme=dark] .cy-panzoom-slider-background,
[data-bs-theme=dark] .cy-panzoom-slider-handle,
[data-bs-theme=dark] .cy-panzoom-reset,
[data-bs-theme=dark] .cy-panzoom-zoom-out,
[data-bs-theme=dark] .cy-panzoom-zoom-in
{
    background-color: #333;
}

[data-bs-theme=dark] .cy-panzoom-slider-handle,
[data-bs-theme=dark] .cy-panzoom-reset,
[data-bs-theme=dark] .cy-panzoom-zoom-out,
[data-bs-theme=dark] .cy-panzoom-zoom-in
{
  color: #ccc;
}

[data-bs-theme=dark] .cy-panzoom-no-zoom-tick {
  border: 1px solid #999;
}

a:not(.img).external {
  background: url(/images/extlink.png) right center no-repeat;
  padding-right: .75em;
}

img[src='/images/male.png'], 
img[src='/images/female.png'], 
.poet-marker {
  width:35px !important;
  background-color: #fff;
}
#profile .results ul li span {
  font-variant: small-caps;
}
/*
#profile .results ul li, 
#help .results ul li
 {
  text-indent: -15px;
  margin: 0 0 2px -10px;
  list-style-type: none;
}
*/
.globaltext-container {
  min-height: inherit;
  min-width: inherit;
}
.globaltext {
  overflow: hidden;
  min-width:500px;
  max-width:650px;
  height:calc(100vh - 95px);
}
.globaltext .nav-pills {
  border: 1px solid #999;
}
.globaltext .tab-content {
  border: 1px dotted #999;
}

.globaltext .attribution, 
.context .attribution {
  font-size:.85em;
  float:right;
  /*width: 80%;*/
  text-align: right;
  margin-right: 15px;
}

[data-bs-theme=light] .globaltext .attribution, 
[data-bs-theme=light] .context .attribution {
  background-color: #eee;
}

[data-bs-theme=dark] .globaltext .attribution, 
[data-bs-theme=dark] .context .attribution {
  background-color: #444;
}

.globaltext .attribution div, 
.context .attribution div {
  display: inline-block;
  margin-right: 5px;
}
.globaltext .attribution div>span:nth-of-type(1), 
.context .attribution  div>span:nth-of-type(1) {
  font-style: italic;
  margin-right:3px;
}
.globaltext .attribution div .bibl, 
.context .attribution div .bibl {
  margin-left: 0;
  text-indent: 0;
}
.text .head+br {
  display: none;
}
.text .head:nth-of-type(1) {
  font-size:1.3em;
  line-height:1.3em;
}
.text > .head:first-child {
  font-size: 1.5rem;
}
.rppa .head {
  font-size:1.1em !important;
}

.modal-header .tools {
  text-align:center;
}
.modal-header .tools span {
  display: inline-block;
}
.read {
  color: #e76f51;
}
.edit {
  color: #2a9d8f;
}
.publish {
  color: #264653;
}
.nav-link.active code {
  color:unset;
}
.hidden {
  display: none;
}
.textwindow {
  overflow: initial;
  height: calc( 100vh - 84px);
  border-right: 1px #ddd dashed;
  border-left: 1px #ddd dashed;
  padding: 0px;
}
.bg-rppa,.controls .btn {
  background-color: var(--bs-orange);
  text-decoration: none;
  color:#fff;
}
a.bg-rppa:hover, 
a.bg-rppa:active {
  color:#fff;
}
a.note {
  text-decoration: none;
}

.pagebreak .image_link {
  margin-left: 5px;
}
.pagebreak,.pagebreak-supplied {
  display: flex;
  align-items: center;
  text-align: center;
  color: #998;
  font-size: 14px;
  font-style: normal;
  margin: 8px 0;
  clear: both;
  text-indent: 0;
}
.pagebreak-supplied::before, 
.pagebreak-supplied::after,
.pagebreak::before, 
.pagebreak::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #998;

}
.pagebreak::before,
.pagebreak-supplied::before {
    margin-right: 1em;
}
.pagebreak::after,
.pagebreak-supplied::after {
    margin-left: 1em;
}
.popover-dismiss-select {
  width:80px !important;
  min-width:80px !important;
}
.popover-dismiss-select .popover-body {
  padding:5px;
}

.highlight-bb {
  background-color: rgba(245,254,252,1);
/*  border-bottom: 2px solid #0C80A1;*/
  color: inherit;
}

.highlight-bb-start {
  border-left: 4px solid #0C80A1;
  padding-left:1px;
}
.highlight-bb-end {
  border-right: 2px solid #0C80A1;
  padding-right:1px;
}

.highlight-bb-m {
  background-color: unset;
  outline: 1px solid #0C80A1;
  outline-offset:-1px;
  color: inherit;
}
.pagebreak .highlight-bb,
.numbering .highlight-bb {
  background-color: unset;
  border-bottom: unset;
}
.highlight-tc {
  background-color: rgba(255,244,202,1);
  border-bottom: 2px solid rgba(255,204,122,1);
  color: inherit;
}
.pagebreak .highlight-tc,
.numbering .highlight-tc {
  background-color: unset;
  border-bottom: unset;
}

.pulse-bb {
-webkit-animation: pulse-bb 400ms infinite alternate;
        animation: pulse-bb 400ms infinite alternate;
}
.pulse-bb::after {
  content: " ";
  -webkit-animation: pulse-bb 400ms infinite alternate;
  animation: pulse-bb 400ms infinite alternate;
}
@-webkit-keyframes pulse-bb {
0% { background-color: rgba(245,254,252,1) }
100% { background-color: rgba(215,224,222,1) }
}
@keyframes pulse-bb {
0% { background-color: rgba(245,254,252,1) }
100% { background-color: rgba(215,224,222,1) }
}

.pulse-tc {
  -webkit-animation: pulse-tc 400ms infinite alternate;
          animation: pulse-tc 400ms infinite alternate;
  }
.pulse-tc::after {
  content: " ";
  -webkit-animation: pulse-tc 400ms infinite alternate;
  animation: pulse-tc 400ms infinite alternate;
}
@-webkit-keyframes pulse-tc {
0% { background-color: rgba(255,224,172,1) }
100% { background-color: rgba(255,244,222,1) }
}
@keyframes pulse-tc {
0% { background-color: rgba(255,224,172,1) }
100% { background-color: rgba(255,244,222,1) }
}

ul.bb {
  list-style: none;
  padding-left: 10px;
  font-size: 15px;
}
.bb-item .trash {
  margin: 0px 2px;
}
.bb-item label {
  display: unset;
}
.bb-item input[type=checkbox]{
  accent-color: #2a9d8f;
}
ul.bb li canvas {
  vertical-align: middle;
  max-height: 150px;
}
.workbench h2 {
  font-size:1.2em;
}
.tab-content {
  overflow: auto;
  height: calc(100% - 42px);
}
.tab-content > .active {
  height:100%;
}
.waveform {
  margin-top: 15px;
}
[data-bs-theme=dark] #wavetimeline timeline {
  background: #555;
}

.highlight-gbl-start{ 
  border-left: 2px dashed var(--bs-orange); padding-left: 5px; 
}
.highlight-gbl-end { 
  border-right: 2px dashed var(--bs-orange); padding-right: 5px; 
}

.context .card-footer { 
  text-align: right;
  font-size: 13.6px;
  font-variant: all-petite-caps;
}
.context .card-header .creator { 
  font-size: small;
}
.context .card-body {
  max-height:730px;
  overflow:auto;
}
.context.active {
  border-color: var(--bs-orange);
}

.idsSelected {
  border-bottom: 2px solid var(--bs-orange);
  background-color: rgba(255,244,202,1);
  font-weight:bold;
}
.outline-seg {
  outline: 1px solid black;
}

.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link {
    color: #fff !important;
    background-color: var(--bs-orange);
}

.globaltext .nav-link {
    color: #333;
}
.globaltext .nav-link:focus, .nav-link:hover {
    color: #000;
}

.toggle-group:hover .btn-warning,
.toggle-group .btn-warning {
  color:white !important;
  background-color:var(--bs-orange) !important;
  border-color:#666 !important;
}
.toggle-group:hover .btn-success,
.toggle-group .btn-success {
  color:white !important;
  background-color:#2a9d8f !important;
  border-color:#666 !important;
}

#authors .navigation .tab-pane,
#works .navigation .tab-pane {
  height: calc(100vh - 245px);
}
#authors ul.letter,
#works ul.letter {
  /*
  columns: 3;
  column-width: 400px;
  column-gap: 25px;
  */
}
#authors .btn-toolbar,
#works .btn-toolbar {
  margin-bottom: 15px;
}
[data-bs-theme=light] #authors .btn-toolbar button,
[data-bs-theme=light] #works .btn-toolbar button {
   background-color:hwb(26 23% 15%);
}
[data-bs-theme=dark] #authors .btn-toolbar button,
[data-bs-theme=dark] #works .btn-toolbar button {
  background-color:hwb(26 10% 19%);
}
[data-bs-theme=light] #authors .btn-toolbar button,
[data-bs-theme=light] #works .btn-toolbar button {
  color: #fff;
}
#authors .tab-pane>div[id*='-list-']:last-child,
#works .tab-pane>div[id*='-list-']:last-child {
  padding-bottom: 10px;
}

[data-bs-theme=light] .gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
  padding: 0;
}
[data-bs-theme=dark] .gutter {
  background-color: #333;
  background-repeat: no-repeat;
  background-position: 50%;
  padding: 0;
}
.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}
.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

#content, #graph {
  height: calc(100vh - 95px);
  overflow: auto;
}
#content h2{
  margin-top:5px;
}

.add_context {
  font-size: x-large;
  position: absolute;
  right: 20px;
  padding-top:2px;
}
.add_context .fa-plus-circle {
  background-color: white;
  border-radius: 50%;
}

/* DataTables */

div.dtsp-verticalContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
div.dtsp-verticalContainer div.dtsp-verticalPanes {
  flex-basis: 25%;
  /*
  flex-grow: 1;
  flex-shrink: 0;
  */
  margin-top: 7px;
}
div.dtsp-verticalContainer div.container {
  flex-basis: 75%;
  /*
  flex-grow: 1;
  flex-shrink: 0;
  */
  padding-left: 0;
  margin-top: 5px;
  max-width: inherit;
}
div.dtsp-verticalPanes {
  margin-right: 0px;
}
div.dtsp-panesContainer {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px;
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-stripe), 0.05);
}
.dtsp-dataTable {
  margin: 10px 0;
}
div.dtsp-panesContainer {
  clear: both;
  text-align: center;
}
div.dtsp-panesContainer {
  margin-bottom: 1em;
}
#authorsDT, 
#worksDT {
  width:100% !important;
  margin-bottom: 10px;
}
div.dtsp-panesContainer div.dtsp-searchPanes div.dtsp-searchPane {
  margin-top: 0 !important;
}
div.dtsp-searchPane div.dataTables_wrapper div.dataTables_scrollBody table tr>td {
  padding: 1px 10px;
}
.table>:not(caption)>*>* {
  padding: 0.25rem 0.25rem;
  word-break:break-word;
}
.table thead th {
  word-break:normal;
}
#authorsDT>tbody>tr {
  /* height:44px;*/
}
div.dtsp-panesContainer div.dtsp-searchPane div.dtsp-topRow {
  margin-bottom: 0;
}
table.dataTable>tbody>tr.selected>* {
  box-shadow: inset 0 0 0 9999px #e07012 !important;
}
.dataTables_info,
.dataTables_paginate,
.dataTables_length,
.dataTables_filter {
  display: inline-flex;
}
.dataTables_paginate,
.dataTables_filter {
  right: 0;
  position: absolute;
}
#authorsDT_info,
#worksDT_info, .dt-info
{
  bottom: 8px;
  top: 8px;
  position: relative;
}
div.dt-button-collection {
  width: 400px;
  z-index: 1000 !important;
}

div.dt-button-collection button.dt-button {
  display: inline-block;
  width: 32%;
}
div.dt-button-collection button.buttons-colvis {
  display: inline-block;
  width: 49%;
}
div.dt-button-collection h3 {
  color: #666;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 100;
  border-bottom: 1px solid rgba(150, 150, 150, 0.5);
  font-size: 1.05em;
  padding: 0 1em;
}
div.dt-button-collection h3.not-top-heading {
  margin-top: 10px;
}
.dtsp-titleRow .dt-buttons {
  float:right;
}
.dtsp-titleRow .dt-buttons .btn-group {
  margin-left:20px;
}
.dtsp-titleRow .dt-buttons .buttons-collection {
  background-color: #e07012;
}
div.dtsp-panesContainer button.dtsp-clearAll, 
div.dtsp-panesContainer button.dtsp-collapseAll, 
div.dtsp-panesContainer button.dtsp-showAll {
  padding: 7px;
}
div.dtsp-panesContainer button.dtsp-collapseAll, 
div.dtsp-panesContainer button.dtsp-showAll {
  display: none;
}
.dtfh-floatingparenthead table {
  table-layout: auto !important;
}
div.dtsp-searchPane div.dt-scroll-body {
  height: 175px !important;
}
.dataTables_paginate .page-item {
  width:35px;
  text-align:center;
}
.dataTables_paginate .page-link {
  padding: 7px 2px 7px 2px;
}
table.dataTable>tbody>tr.child ul.dtr-details>li {
  padding: 0.1em 0;
}
div.dtsp-searchPane div.dataTables_wrapper div.dataTables_scrollBody div.dtsp-nameCont span.dtsp-name:hover, div.dtsp-searchPane div.dataTables_wrapper div.dataTables_scrollBody div.dtsp-nameCont span.dtsp-pill:hover {
  cursor: pointer;
}
.dtsp-countButton {

}
.dtsp-collapseButton {
  display: none;
}
[data-bs-theme=dark] .dataTable tr th
/*,[data-bs-theme=dark] .dataTable tr td */
{
  border-right: 1px dotted #555;
}
[data-bs-theme=light] .dataTable tr th
/*,[data-bs-theme=light] .dataTable tr td */
{
  border-right: 1px dotted #ccc;
}
div.dtsp-panesContainer div.dtsp-title {
  font-weight: bold;
  font-size:16px;
  padding:8px 0;
}
/*
.dtsp-paneInputButton::-webkit-input-placeholder {
  font-weight: bold;
  font-size:16px;
}
.dtsp-paneInputButton::-moz-placeholder {
  font-weight: bold;
  font-size:16px;
}
.dtsp-paneInputButton::input-placeholder {
  font-weight: bold;
  font-size:16px;
}
*/
table.dataTable thead>tr>th.sorting:before, table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_desc:before, table.dataTable thead>tr>th.sorting_asc_disabled:before, table.dataTable thead>tr>th.sorting_desc_disabled:before, table.dataTable thead>tr>td.sorting:before, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_desc:before, table.dataTable thead>tr>td.sorting_asc_disabled:before, table.dataTable thead>tr>td.sorting_desc_disabled:before {
  top: 6px;
}
table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>th.sorting_asc_disabled:after, table.dataTable thead>tr>th.sorting_desc_disabled:after, table.dataTable thead>tr>td.sorting:after, table.dataTable thead>tr>td.sorting_asc:after, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:after {
  top: 18px;
}
.page-item .page-link {
  color: #e07012;
}
.page-item.active .page-link {
  background-color: #e07012;
  border-color: #e07012;
  z-index: 3 !important;
  color: var(--bs-pagination-active-color);
}
.dt-info,.dt-paging {
  display: inline-block;
}
.dt-paging {
  float: right;
}
.dtsp-dataTable {
  margin: 25px 0 10px 0;
  display: flex;
  justify-content: space-between;
}

/* PRISMS */

#cy {
  width: 100%; /* calc(100% - 300px); */
  height: 100%;
}
.cytoscape-navigator {
  position: absolute;
  width: 300px;
  height: 301px;
  border: 1px solid #ddd;
  border-right-width: 0;
  z-index:1053;
}
.cy-panzoom {
  left: 10px;
  top: 10px;
  z-index:1053;
}
.col-graph .cy-panzoom {
  left: 0px;
}
[data-bs-theme=dark] .tippy-box {
  opacity: .8;
  z-index:10501 !important;
}
[data-bs-theme=light] .tippy-box {
  opacity: .8;
  background-color:#f9f9f9;
  color:#333;
  border: 1px solid #999;
  z-index:10501 !important;
}
.col-graph .graph-about {
  border: 1px solid #ddd;
  border-right-width: 0;
  width:300px;
  /*
  top:-1px;
  right:2px;
  */
  position: relative;
  height: calc( 100% - 298px );
  z-index:9999;
  background-color: #fff;
  padding: 5px;
  font-size: 14px;
  overflow-y: auto;
}
.popover {
  z-index: 10500 !important;
}
.tippy-popper {
  pointer-events: auto;
}

button[data-expr$='/expression/4'].nav-link.active,
[data-expr$='/expression/4'] .controls .btn,
[data-expr$='/expression/4'] input[type='range'],
[data-expr$='/expression/4'] .bg-rppa
{
  background-color: #82204A;
  accent-color: #82204A;
}
button[data-expr$='/expression/3'].nav-link.active,
[data-expr$='/expression/3'] .controls .btn,
[data-expr$='/expression/3'] input[type='range'],
[data-expr$='/expression/3'] .bg-rppa
{
  background-color: #2C6E49;
  accent-color: #2C6E49;
}
button[data-expr$='/expression/2'].nav-link.active,
[data-expr$='/expression/2'] .controls .btn,
[data-expr$='/expression/2'] input[type='range'],
[data-expr$='/expression/2'] .bg-rppa
{
  background-color: #124E78;
  accent-color: #124E78;
}
button[data-expr$='/expression/1'].nav-link.active,
[data-expr$='/expression/1'] .controls .btn,
[data-expr$='/expression/1'] input[type='range'],
[data-expr$='/expression/1'] .bg-rppa
{
  background-color: #cd6711;
  accent-color: #cd6711;
}
a.bg-rppa {
  color: white !important;
}
[data-expr$='/expression/4'] a {
  color: #82204A;
  filter: brightness(1.5);
}
[data-expr$='/expression/3'] a {
  color: #2C6E49;
  filter: brightness(1.5);
}
[data-expr$='/expression/2'] a {
  color: #124E78;
  filter: brightness(1.5);
}
[data-expr$='/expression/1'] a {
  color: #cd6711;
  filter: brightness(1.5);
}