/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

a {
  color:#e07012;
}
a:hover, a:active, a:visited {
  color:  #cd6711;
}
main > .container-fluid {
  padding: 40px 0px 40px 0px;
}
header > nav {
  height: 40px;
}

.navbar > .container-fluid {
  position: absolute;
}
.navbar-brand {
  margin: 0 30px 0 0;
  font-size:1.4rem;
  line-height:32px;
}
.navbar-brand > img {
  display: inline-block;
  margin-right: 15px;
  height: 40px;
  width: 40px;
}
.navbar-brand sup, .leaflet-sidebar-header sup {
  font-variant: small-caps;
  font-size: .75rem;
  padding: 0 5px;
  top: -.6rem;
}
a.navbar-brand:hover, a.navbar-brand:active, a.navbar-brand:visited,
a.nav-link:hover, a.nav-link:active, a.nav-link:visited {
  color: #fff;
}
.leaflet-sidebar-tabs > li:hover, .leaflet-sidebar-tabs > ul > li:hover {
  background-color: unset;
}
.nav-link {
  padding-right:1rem !important;
  padding-left:1rem !important;
}

footer {
  height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ccc;
}
.map {
  height: 100%;
  top: 0;
  position: relative;
  background-color: #f1e4cf;
}

@media (min-width:768px) {
  .leaflet-sidebar {
   top:10px;
   bottom:10px;
   transition:width .5s;
   border:3px solid transparent;
   border-radius:4px;
   z-index: auto !important;
  }
  .leaflet-sidebar-left {
   left:10px !important;
  }
  .leaflet-sidebar-right {
   right:10px !important;
  }
}
.leaflet-sidebar.collapsed {
  width: 42px !important;
}
.leaflet-sidebar-header {
  background-color: #e07012 !important;
}
.leaflet-sidebar-tabs > li.active, .leaflet-sidebar-tabs > ul > li.active {
  background-color: #ce5f04 !important;
}

.leaflet-verticalcenter {
  /********************************************/
  /* Same as .leaflet-top and .leaflet-bottom */
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  /********************************************/
  top: 50%;
  transform: translateY(-50%);
  padding-top: 10px;
}
.leaflet-sidebar {
  z-index:1000 !important;
  max-width:40%;
}
.leaflet-sidebar-tabs i {
  font-size:20px;
  margin-left:-2px
}
.leaflet-sidebar-tabs {
  background-color: #eee !important;
}
.leaflet-sidebar-header {
  font-size:1.4rem !important;
}
.leaflet-sidebar-content h2 {
  margin-top: 8px;
  font-size: 1.3rem;
  text-indent: -20px;
  margin-left: 20px;
  line-height: inherit;
}
.leaflet-sidebar-content h3 {
  font-size: 1.15rem;
  margin-left: 5px;
}
.leaflet-container,.popup {
  font-size:16px !important;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  background:unset;
}
#sidebar,.popup,.leaflet-control-container {
  font-size:15px !important;
}
.leaflet-container option {
  font-size:14px !important;
}
.leaflet-container a {
  color:#e07012;
}
.leaflet-control-container a {
  color:#000 !important;
}
.legend-dot {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  display: inline-block;  
}


.gender input[type=checkbox] + label, .continents input.cont[type=checkbox] + label
{
  font-size: 1.2em;
  padding-right: 0.6em;
}
.gender input[type=checkbox], .continents input.cont[type=checkbox] 
{ display:none; }
.gender input[type=checkbox] + label:before, .continents input.cont[type=checkbox] + label:before
{
  display: inline-block;
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  padding-right: .3em; 
}
.gender input[type=checkbox]:checked + label:before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: black;
}
.continents input[type=checkbox]#AF:checked 
+ label:before {
  content: "\f57c";
  font-weight: 700;
}
.continents input[type=checkbox]#AS:checked 
+ label:before {
  content: "\f57e";
  font-weight: 700;
}
.continents input[type=checkbox]#NA:checked 
+ label:before {
  content: "\f57d";
  font-weight: 700;
}
.continents input[type=checkbox]#SA:checked 
+ label:before {
  content: "\f57d";
  font-weight: 700;
}
.continents input[type=checkbox]#EU:checked 
+ label:before {
  content: "\f7a2";
  font-weight: 700;
}
.continents input[type=checkbox]#OC:checked 
+ label:before {
  content: "\e47b";
  font-weight: 700;
}

.leaflet-popup-pane .popup .name {
  font-weight: bold;
  font-size:14px;
}
.leaflet-popup-pane .popup .loc {
  font-style: italic;
  font-size:13px;
  display: block;
}

a:not(.img).external {
  background: url(/images/extlink.png) right center no-repeat;
  padding-right: .75em;
}

img[src='/images/male.png'], img[src='/images/female.png'], .poet-marker {
  width:35px !important;
  background-color: #fff;
}
#profile .results ul li span {
  font-variant: small-caps;
}
#profile .results ul li, #help .results ul li
 {
  text-indent: -15px;
  margin: 0 0 2px -10px;
  list-style-type: none;
}

.text .attribution {
  font-size:.85em;
  float:right;
  width: 80%;
  text-align: right;
}
.text .attribution div {
  display: inline-block;
}
.text .attribution div>span:nth-of-type(1) {
  font-style: italic;
  margin-right:3px;
}
.text .attribution div .bibl {
  margin-left: 0;
  text-indent: 0;
}
.text .head+br {
  display: none;
}
.text .head:nth-of-type(1) {
  font-size:1.3em;
  line-height:1.3em;
}
.rppa .head {
  font-size:1.1em !important;
}

.modal-header .tools {
  text-align:center;
}
.modal-header .tools span {
  display: inline-block;
}
.read {
  color: #e76f51;
}
.edit {
  color: #2a9d8f;
}
.publish {
  color: #264653;
}
.nav-link.active code {
  color:unset;
}
.hidden {
  display: none;
}
.modal-body .row > div {
  overflow: auto;
  height: calc( 100vh - 84px);
  border-right: 1px #ddd dashed;
  border-left: 1px #ddd dashed;
}
.bg-rppa,.controls .btn {
  background-color: var(--bs-orange);
  text-decoration: none;
  color:#fff;
}
a.bg-rppa:hover, a.bg-rppa:active {
  color:#fff;
}
a.note {
  text-decoration: none;
}

.pagebreak .image_link {
  margin-left: 5px;
}
.pagebreak,.pagebreak-supplied {
  display: flex;
  align-items: center;
  text-align: center;
  color: #998;
  font-size: 14px;
  font-style: normal;
  margin: 8px 0;
  clear: both;
  text-indent: 0;
}
.pagebreak-supplied::before, .pagebreak-supplied::after,
.pagebreak::before, .pagebreak::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #998;

}
.pagebreak::before,
.pagebreak-supplied::before {
    margin-right: 1em;
}
.pagebreak::after,
.pagebreak-supplied::after {
    margin-left: 1em;
}
.popover-dismiss-select {
  width:80px !important;
  min-width:80px !important;
}
.popover-dismiss-select .popover-body {
  padding:5px;
}

.highlight-bb {
  background-color: rgba(245,254,252,1);
  border-bottom: 2px solid #0C80A1;
  color: inherit;
}
.pagebreak .highlight-bb,
.numbering .highlight-bb {
  background-color: unset;
  border-bottom: unset;
}

.pulse {
-webkit-animation: pulse 400ms infinite alternate;
        animation: pulse 400ms infinite alternate;
}
.pulse::after {
  content: " ";
  -webkit-animation: pulse 400ms infinite alternate;
  animation: pulse 400ms infinite alternate;
}
@-webkit-keyframes pulse {
0% { background-color: rgba(245,254,252,1) }
100% { background-color: rgba(215,224,222,1) }
}
@keyframes pulse {
0% { background-color: rgba(245,254,252,1) }
100% { background-color: rgba(215,224,222,1) }
}

ul.bb {
  list-style: none;
  padding-left: 10px;
  font-size: 15px;
}
.bb-item .trash {
  margin: 0px 2px;
}
.bb-item label {
  display: unset;
}
ul.bb li canvas {
  vertical-align: middle;
  max-height: 150px;
}
.workbench h2 {
  font-size:1.2em;
}
