
.text h1.main {
    margin-top: 15px;
    font-size: 1.6em;
    line-height: 1.3em;
}
.text h2.main {
    margin-top: 10px;
    font-size: 1.5em;
    line-height: 1.2em;
}
.text h1.sub {
    margin-top: 10px;
    font-size: 1.4em;
    line-height: 1.1em;
} 
.text h2.sub {
    margin-top: 5px;
    font-size: 1.2em;
}
.text .head-part, .text .argument div {
    font-size: 1em;
    text-align: center;
    margin: 10px 0;
}
.text .lg.head {
    font-size: 16px !important;
}
.text .argument {
    font-size: 1.2em;
    text-align: center;
    margin: 10px 0;
}
.text .argument div.l,
.text .argument p {
    font-size: 16px;
    text-align: left;
    margin: 0;
}
.text .epigraph {
    width:60%;
    margin: 10px auto;
    text-align: left;
    font-size: 14px;
}
.text .stage, .text .speaker {
    text-align: center;
    margin: 5px 20px;
}
.text .titlepage h2.main {
    font-size: 1.6em;
}
.text .titlepage h2.sub {
    font-size: 1.4em;
}
.text .halftitle h2.main {
    font-size: 1.4em;
}
.text .halftitle h2.sub {
    font-size: 1.2em;
}
.text .halftitle, .text .titlepage, .text .titlePage, .text .title_page, .text .half_title, .text .half-title, .text .engraved_title_page {
    text-align: center;
}
.text h1 {
    font-size: 1.4em;
    line-height: 1.6em;
}
.text h2 {
    font-size: 1.3em;
    line-height: 1.5em;
}
.text h3 {
    font-size: 1.2em;
    line-height: 1.3em;
}
.text h4 {
    font-size: 1.1em;
    line-height: 1.2em;
}
.text {
    line-height: 20px;
    padding: 10px 0;
}
