<Files ~ "^\.ht">
<IfModule mod_authz_core.c>
    Require all denied
</IfModule>
</Files>

IndexIgnore *
Options -Indexes +FollowSymLinks -Multiviews

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/xml
    AddOutputFilterByType DEFLATE text/shtml
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/x-javascript
</IfModule>

Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"

RewriteEngine On
RewriteRule   ^(.*?)/rppaid.*?/(.*)$	/$1/$2			[L]
RewriteRule   ^id/(.+)$			/entity.shtml?$1	[L,B]
RewriteRule   ^rppa/(.+)$		/entity.shtml?$1	[L,B]

# make pages extension-less
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.shtml -f
RewriteRule ^(.*)$ $1.shtml [L]

ErrorDocument 400 /error/index.shtml
ErrorDocument 401 /error/index.shtml
ErrorDocument 403 /error/index.shtml
ErrorDocument 404 /error/index.shtml
ErrorDocument 500 /error/index.shtml
